@charset "utf-8";

/*//////////////////////////////////////////////////////////
//  - CSS for HTML Parts
//  - 2011-08-01 (Mon)
//////////////////////////////////////////////////////////*/

*{ 
    margin: 0;
    padding: 0;
}

a             { color: #0487b6; text-decoration: underline; }
a:link        { color: #0487b5; text-decoration: underline; }
a:visited    { color: #0487b4; text-decoration: underline; }
a:active    { color: #0487b3; text-decoration: underline; }
a:hover        { color: #0487b2; text-decoration: none; }

html {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    width: 100%;
    color: #000;
    font-size: 12px;
    font-family: Georgia, 'Times New Roman', Meiryo, "ヒラギノ角ゴ Pro W3", 'Hiragino Kaku Gothic Pro', serif;
    line-height: 180%;
    background: #fff url(../images/base.png) repeat center center;
    border-top: 2px solid #000;
    margin: 0 auto 60px auto;
    padding: 0;
}


/*----------------------------------------------------------
  - Header
----------------------------------------------------------*/

#header {
    position: relative;
    top: -2px;
    width: 950px;
    height: 150px;
    border-top: 2px solid #000;
    margin: 0 auto;
    padding: 0;
}

#header h1 a,
#header ul,
#header ol {
    position: absolute;
    margin: 0;
    padding: 0;
}

#header h1 {
position: absolute;
top: -2px;
width: 950px;
    height: 95px;
    display: block;
background: url(../images/header_base.png) no-repeat 0 0;
}

#header h1 a {
    display: block;
    top: 25px;
    left: 0;
    width: 300px;
    height: 95px;
    background: url(../images/header_yapc_logo.png) no-repeat 0 0;
    text-indent: -9999px;
    text-decoration: none;
    overflow: hidden;
    z-index: 20;
}

#header h1 a:hover {
    filter:alpha(opacity=70);
    -moz-opacity: 0.7;
    opacity: 0.7;
}

#header ul {
    top: 65px;
    right: 0;
    width: 650px;
    height: 35px;
    text-align: right;
    line-height: 35px;
    z-index: 30;
}

#header ul li {
    display: inline;
    font-size: 16px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', serif;
    font-style: oblique;
    margin: 0 0 0 15px;
    padding: 0;
}

#header ol {
    top: 0px;
    right: 0;
    width: 140px;
    height: 30px;
    line-height: 30px;
    _zoom: 1;
    overflow: hidden;
    z-index: 30;
}

#header ol li a {
    display: block;
    float: right;
    width: 70px;
    color: #fff;
    font-size: 12px;
    font-family: Helvetica, Verdana, arial, Sans-Serif;
    text-decoration: none;
    text-align: center;
    background-color: #000;
    margin: 0;
    padding: 0;
    _zoom: 1;
    overflow: hidden;
}

#header ol li a:hover {
    background-color: #e60012;
}


/*----------------------------------------------------------
  - Container
----------------------------------------------------------*/

#container {
    width: 950px;
    margin: 0 auto 0 auto;
    padding: 0;
    _zoom: 1;
    overflow: hidden;
}

#container #primary_column {
    float: left;
    width: 620px;
    margin: 0;
    padding: 0;
    _zoom: 1;
    overflow: hidden;
}

#container #secondary_column {
    float: right;
    width: 250px;
/*    background-color: #efede9;*/
    background-color: #fff;
    margin: 0;
    padding: 20px;
    border: 5px solid #efede9;
    _zoom: 1;
    overflow: hidden;
}


/*----------------------------------------------------------
  - Primary Column
----------------------------------------------------------*/

/* - Primary Column / Common
==========================================================*/

#primary_column .section {
    width: 620px;
    margin: 0 auto 30px auto;
    padding: 0;
    _zoom: 1;
    overflow: hidden;
}

#primary_column .section h3 {
    width: 620px;
    background: url(../images/hr_dotted.png) repeat-x 0 bottom;
    margin: 0 auto 20px auto;
    padding: 5px 0 15px 0;
}

#primary_column .section h3 em {
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
    background: url(../images/arrow_a.png) no-repeat 0 center;
    margin: 0;
    padding: 0 0 0 35px;
}

#primary_column .section .box {
    margin: 0 0 20px 0;
    padding: 0;
    _zoom: 1;
    overflow: hidden;
}

#primary_column .section .box ul,
#primary_column .section .box p {
    margin: 5px 0 15px 0;
    padding: 0;
}

#primary_column .section .box p em {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
}

#primary_column .section .box li {
    font-size: 14px;
    background: url(../images/arrow_b.png) no-repeat 0 3px;
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
}

#primary_column .section .box img {
    background-color: #efede9;
    margin: 0;
    padding: 5px;
}

/* - Primary Column / Home
==========================================================*/

#home #banner {
    position: relative;
    width: 620px;
    height: 400px;
    background-color: #efede9;
    margin: 0 0 30px 0;
    padding: 0;
}

#home #banner h2,
#home #banner #banner_base,
#home #banner #banner_pict {
    position: absolute;
}

#home #banner h2 {
    bottom: 45px;
    left: 100px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    font-style: oblique;
    margin: 0;
    padding: 0;
    z-index: 30;
}

#home #banner #banner_base {
    bottom: 5px;
    left: 5px;
    width: 610px;
    height: 95px;
    background: url(../images/banner_base.png) no-repeat 0 0;
    margin: 0;
    padding: 0;
    z-index: 20;
}

#home #banner #banner_pict {
    top: 5px;
    left: 5px;
    width: 610px;
    height: 390px;
    margin: 0;
    padding: 0;
    z-index: 10;
    _zoom: 1;
    overflow: hidden;
}

#home #speakers dl,
#home #sp-speakers dl,
#home #news dl {
    width: 620px;
    margin: 0 0 15px 0;
    padding: 0;
    _zoom: 1;
    overflow: hidden;
}

#home #speakers dl dt,
#home #sp-speakers dl dt,
#home #news dl dt {
    float: left;
    margin: 0 10px 0 0;
    padding: 0;
}

#home #speakers dl dt,
#home #sp-speakers dl dt {
    width: 100px;
}

#home #news dl dt {
    width: 80px;
    font-style: oblique;
}

#home #speakers dl dd,
#home #sp-speakers dl dd,
#home #news dl dd {
    margin: 0;
    padding: 0;
    _zoom: 1;
    overflow: hidden;
}

#home #speakers dl dd h4,
#home #sp-speakers dl dd h4 {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
}

/* - Primary Column / News, Page
==========================================================*/

#news .entry,
#page .entry {
    width: 620px;
    margin: 0 0 15px 0;
    padding: 0;
    _zoom: 1;
    overflow: hidden;
}

#news .entry .entry_title {
    background-color: #efede9;
/*    border-left: 2px solid #00a5e0;*/
    margin: 0 0 20px 0;
    padding: 10px;
}

#news .entry .entry_title h4 {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
    background: url(../images/arrow_c.png) no-repeat 0 center;
    margin: 0;
    padding: 0 20px 0 25px;
}

#news .entry .entry_body,
#page .entry .entry_body {
    margin: 0 0 20px 0;
    padding: 0;
}

#news .entry .entry_body p,
#page .entry .entry_body p {
    margin: 5px 0 15px 0;
    padding: 0;
}

#news .entry .entry_body li,
#page .entry .entry_body li {
    font-size: 14px;
    background: url(../images/arrow_b.png) no-repeat 0 3px;
    margin: 0 0 10px 0;
    padding: 0 0 0 20px;
}

#news .entry .entry_body strong,
#page .entry .entry_body strong {
    font-weight: bold;
}

#news .entry .entry_meta {
    text-align: right;
    color: #999;
    font-size: 10px;
    font-style: oblique;
    background: url(../images/hr_dotted.png) repeat-x 0 0;
    margin: 5px 0 15px 0;
    padding: 20px 0 0 0;
}

#news .entry .entry_meta span {
    margin: 0;
    padding: 0 0 0 10px;
}


/*----------------------------------------------------------
  - Secondary Column
----------------------------------------------------------*/

#secondary_column .section {
    width: 250px;
    margin: 0 auto 30px auto;
    padding: 0;
    _zoom: 1;
    overflow: hidden;
}

#secondary_column .section h3 {
    width: 250px;
    background: url(../images/hr_dotted.png) repeat-x 0 bottom;
    margin: 0 auto 20px auto;
    padding: 0 0 15px 0;
}

#secondary_column .section h3 em {
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
    background: url(../images/arrow_c.png) no-repeat 0 center;
    margin: 0;
    padding: 0 20px 0 25px;
}

#secondary_column .section .box {
    margin: 0 0 20px 0;
    padding: 0 20px;
    _zoom: 1;
    overflow: hidden;
}

#secondary_column .section .box p {
    margin: 5px 0 10px 0;
    padding: 0;
}

#secondary_column .section .box p em {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: oblique;
}

/* - Sponsors
==========================================================*/

#sponsors h4 {
    text-align: center;
    font-weight: bold;
    margin: 0 0 10px 0;
    padding: 0;
}

#sponsors li {
    text-align: center;
    margin: 0 0 5px 0;
    padding: 0;
}

#sponsors li a:hover {
    filter:alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

#sponsors li img {
    width: 120px;
}

/* - IRC/Tags
==========================================================*/

#tags .box p em span {
    color: #ff0000;
    font-size: 14px;
}

/* - Sociales
==========================================================*/

#sociales li {
    float: left;
    width: 65px;
    height: 65px;
    margin: 0 2px;
    padding: 0;
}

#sociales li a {
    display: block;
    width: 65px;
    height: 65px;
    text-indent: -9999px;
    text-decoration: none;
    overflow: hidden;
    filter:alpha(opacity=40);
    -moz-opacity: 0.4;
    opacity: 0.4;
}

#sociales li#sns_twitter a { background: url(../images/sns_icon_twitter.png) no-repeat 0 0; }
#sociales li#sns_flickr a  { background: url(../images/sns_icon_flickr.png) no-repeat 0 0; }
#sociales li#sns_hateb a   { background: url(../images/sns_icon_hateb.png) no-repeat 0 0; }

#sociales li a:hover {
    filter:alpha(opacity=100);
    -moz-opacity: 1.0;
    opacity: 1.0;
}

/* - History
==========================================================*/

#history li {
    margin: 0 0 5px 0;
    padding: 0;
}

#history li a {
    font-weight: bold;
    font-style: oblique;
}


/*----------------------------------------------------------
  - Footer
----------------------------------------------------------*/

#footer {
    clear: both;
    display: block;
    position: relative;
    width: 950px;
    height: 70px;
    color: #4a4a4a;
    background: url(../images/footer_base.png) no-repeat 0 0;
    margin: 20px auto;
    padding: 0;
}

#footer address {
    top: 35px;
    left: 70px;
}

#footer #poweredby {
    top: 35px;
    right: 0;
}

#footer address,
#footer #poweredby {
    position: absolute;
    font-style: oblique;
    font-size: 11px;
}

#footer address a,
#footer #poweredby a {
    font-weight: bold;
}

















































































































