@charset "utf-8";

/*//////////////////////////////////////////////////////////
//  - CSS for HTML
//  - 2012-09-07 (Fri)
//////////////////////////////////////////////////////////*/

@font-face { font-family: 'MuseoSlab-500'; src: url('../fonts/MuseoSlab-500.eot'); src: url('../fonts/MuseoSlab-500.eot@') format('embedded-opentype'),url('../fonts/MuseoSlab-500.woff') format('woff'),url('../fonts/MuseoSlab-500.ttf') format('truetype'),url('../fonts/MuseoSlab-500.svg') format('svg'); }
@font-face { font-family: 'LubalinGraph-Book'; src: url('../fonts/LubalinGraph-Book.eot'); src: url('../fonts/LubalinGraph-Book.eot@') format('embedded-opentype'),url('../fonts/LubalinGraph-Book.woff') format('woff'),url('../fonts/LubalinGraph-Book.ttf') format('truetype'),url('../fonts/LubalinGraph-Book.svg') format('svg'); }
@font-face { font-family: 'LubalinGraph-Demi'; src: url('../fonts/LubalinGraph-Demi.eot'); src: url('../fonts/LubalinGraph-Demi.eot@') format('embedded-opentype'),url('../fonts/LubalinGraph-Demi.woff') format('woff'),url('../fonts/LubalinGraph-Demi.ttf') format('truetype'),url('../fonts/LubalinGraph-Demi.svg') format('svg'); }

* { 
	margin: 0;
	padding: 0;
}

html,
body {
	color: #333;
	font-size: 100%;
	font-family: MuseoSlab-500, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Sans-Serif !important;
	*font-family: MuseoSlab-500, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Sans-Serif !important;
	_font-family: Tahoma, "ＭＳ Ｐゴシック", Sans-Serif !important;
	background: #edf1ed url(../images/main_base.jpg) repeat fixed center center;
	margin: 0;
	padding: 0;
}

a 			{ color: #e60039; text-decoration: none; }
a:link		{ color: #e60038; text-decoration: none; }
a:visited	{ color: #e60037; text-decoration: none; }
a:active	{ color: #e60036; text-decoration: none; }
a:hover		{ color: #e60035; text-decoration: underline; }


/*----------------------------------------------------------
  - Header
----------------------------------------------------------*/

#header {
	position: fixed;
	_position: relative;
	top: 0;
	width: 100%;
	height: 49px;
	background-color: #f6f6f6;
	border-bottom: 1px solid #c0c0c0;
	z-index: 1000;
}

#header.box_shadow {
	-moz-box-shadow: 0px 0px 2px 0px #333;
	-khtml-box-shadow: 0px 0px 2px 0px #333;
	-webkit-box-shadow: 0px 0px 2px 0px #333;
	box-shadow: 0px 0px 2px 0px #333;
}

#header .innerblock {
	position: relative;
	width: 950px;
	height: 49px;
	margin: 0 auto;
}

#header #g-navigation li {
	position: relative;
	float: left;
	height: 49px;
}

#header #g-navigation li a {
	display: block;
	_display: inline;
	color: #1e2e53;
	font-size: 85%;
	height: 49px;
	margin: 0;
	padding: 0 10px;
	line-height: 50px;
}

#header #g-navigation li a:hover {
	color: #fff;
	background-color: #e60039;
	text-decoration: none;
}

#header #s-navigation {
	position: absolute;
	top: 11px;
	right: 0;
	width: 300px;
	height: 49px;
}

#header #s-navigation li {
	position: relative;
	float: right;
	height: 25px;
}

#header #s-navigation li a {
	display: block;
	_display: inline;
	width: 70px;
	height: 25px;
	color: #fff;
	font-size: 70%;
	text-decoration: none;
	text-align: center;
	background-color: #1e2e53;
	margin: 0 0 0 5px;
	padding: 0;
	line-height: 25px;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 1px solid #1e2e53;
}

#header #s-navigation li a:hover {
	background-color: #00a7d4;
	text-decoration: none;
	border: 1px solid #00a7d4;
}

#header #g-navigation,
#header #g-navigation li a,
#header #s-navigation,
#header #s-navigation li a {
	_zoom: 1;
	overflow: hidden;
}

#main-banner {
	position: relative;
	width: 100%;
	height: 145px;
	padding: 50px 0 25px 0;
	_padding: 0 0 25px 0;
	_zoom: 1;
	overflow: hidden;
	z-index: 0;
}

#main-banner .innerblock {
	position: relative;
	left: 50%;
	width: 3000px;
	height: 145px;
	background: url(../images/header_base.jpg) no-repeat 0 0;
	margin-left: -1500px;
	_zoom: 1;
	overflow: hidden;
	z-index: 1;
}

#main-banner .innerblock h1 {
	display: block;
	position: absolute;
	top: 0;
	left: 50%;
	width: 950px;
	height: 145px;
	margin-left: -475px;
}

#main-banner .innerblock h1,
#main-banner .innerblock h2,
#main-banner .innerblock h3 {
	text-indent: -9999px;
	text-decoration: none;
	overflow: hidden;
}


/*----------------------------------------------------------
  - Container / Layout
----------------------------------------------------------*/

#container {
	width: 950px;
	margin: 0 auto;
}

#container #main-contents {
	float: left;
	width: 620px;
}

#container #sidebar {
	float: right;
	width: 300px;
}

#container #sidebar .innerblocktop {
	width: 300px;
	height: 25px;
	background: url(../images/side_inner_base_top.gif) no-repeat 0 0;
}

#container #sidebar .innerblock {
	width: 250px;
	background: url(../images/side_inner_base_bottom.gif) no-repeat 0 bottom;
	padding: 0 25px 25px 25px;
}

#container,
#container #sidebar {
	_zoom: 1;
	overflow: hidden;
}

#container #main-contents {
	_zoom: 1;
}


/*----------------------------------------------------------
  - Main Contents
----------------------------------------------------------*/

#container #main-contents #message .innerblocktop {
	width: 620px;
	height: 25px;
	background: url(../images/contents_inner_base_top.gif) no-repeat 0 0;
}

#container #main-contents #message .innerblock {
	width: 570px;
	background: url(../images/contents_inner_base_bottom.gif) no-repeat 0 bottom;
	padding: 0 25px 25px 25px;
}

#container #main-contents h1 {
	color: #1e2e53;
	font-size: 160%;
	background: none;
	margin: 0 0 20px 0;
	padding: 0;
	line-height: 100%;
}

#container #main-contents h1 .innerblock em,
#container #main-contents .section em {
	color: #1e2e53;
	font-weight: bold;
}

#container #main-contents .section {
	padding: 0 0 20px 0;
}

#container #main-contents .section h2 {
	color: #fff;
	font-size: 100%;
	width: 620px;
	height: 60px;
	background: url(../images/contents_h2_base.gif) no-repeat 0 0;
	margin-bottom: 5px;
	padding: 0 10px 0 50px;
	line-height: 70px;
	_zoom: 1;
	overflow: hidden;
}

#container #main-contents .section h3 {
	color: #1e2e53;
	font-size: 95%;
	width: 570px;
	background: url(../images/contents_h3_base.gif) no-repeat 0 bottom;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

#container #main-contents .section .innerblock {
	margin: 0 auto;
	padding: 5px 25px;
}

#container #main-contents .section p {
	font-size: 85%;
	padding: 5px 0 10px 0;
	line-height: 150%;
}


/* - Main Contents / Posts
==========================================================*/

#container #main-contents .posts .entry {
	margin: 0;
	padding: 5px 0 10px 0;
}

#container #main-contents .posts .entry label,
#container #main-contents .posts .entry input,
#container #main-contents .posts .entry button,
#container #main-contents .posts .entry select,
#container #main-contents .posts .entry textarea {
	font-family: MuseoSlab-500, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Sans-Serif !important;
	*font-family: MuseoSlab-500, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Sans-Serif !important;
	_font-family: Tahoma, "ＭＳ Ｐゴシック", Sans-Serif !important;
	font-size: 100%;
	font-weight: normal;
/*	line-height: 18px;*/
}

#container #main-contents .posts .entry .entry-meta {
	font-size: 65%;
	text-align: right;
	margin-top: -15px;
	padding: 0;
}

#container #main-contents .posts .entry-contents {
	font-size: 85%;
	margin: 0;
	padding: 20px 0 10px 0;
	line-height: 140%;
}

#container #main-contents .posts .entry-contents h1 {
	color: #fff;
	font-size: 160%;
	background-color: #1e2e53;
	border: 1px solid #1e2e53;
	padding: 10px 15px 6px 15px;
}

#container #main-contents .posts .entry-contents h2 {
	color: #333;
	font-size: 130%;
	width: 540px;
	height: auto;
	background-color: #ddd;
	background-image: none;
	border: 1px solid #ccc;
	padding: 10px 15px 6px 15px;
	line-height: 110%;
}

#container #main-contents .posts .entry-contents h3 {
	color: #1e2e53;
	font-size: 130%;
	border-bottom: 5px solid #1e2e53;
	padding: 5px 0 3px 0;
}

#container #main-contents .posts .entry-contents h4 {
	color: #1e2e53;
	font-size: 110%;
	border-bottom: 3px solid #ccc;
}

#container #main-contents .posts .entry-contents h5 {
	font-size: 100%;
	border-bottom: 1px solid #ccc;
}

#container #main-contents .posts .entry-contents h3,
#container #main-contents .posts .entry-contents h4,
#container #main-contents .posts .entry-contents h5 {
/*	width: 570px;*/
	width: 100%;
	height: auto;
	background-image: none;
	padding: 5px 0 3px 0;
	line-height: 110%;
}

#container #main-contents .posts .entry-contents h1,
#container #main-contents .posts .entry-contents h2,
#container #main-contents .posts .entry-contents h3,
#container #main-contents .posts .entry-contents h4,
#container #main-contents .posts .entry-contents h5 {
	margin-bottom: 15px;
}

#container #main-contents .posts .entry-contents h1,
#container #main-contents .posts .entry-contents h2 {
	text-align: center;
	-moz-border-radius: 50px;
	-khtml-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#container #main-contents .posts .entry-contents p {
	font-size: 100%;
}

#container #main-contents .posts .entry-contents strong {
	font-weight: bold;
}

#container #main-contents .posts .entry-contents em {
	font-weight: bold;
	font-style: oblique;
}

#container #main-contents .posts .entry-contents abbr {
	border-bottom: 1px dotted #666;
}

#container #main-contents .posts .entry-contents blockquote {
	background-color: #fff;
	border-left: 3px solid #1e2e53;
	margin: 5px 15px;
	padding: 5px 10px;
}

#container #main-contents .posts .entry-contents ul,
#container #main-contents .posts .entry-contents ol {
	margin-bottom: 10px;
}

#container #main-contents .posts .entry-contents ul li {
	list-style: disc outside;
	margin-left: 20px;
}

#container #main-contents .posts .entry-contents ol li {
	list-style: decimal outside;
	margin-left: 25px;
}

#container #main-contents .posts .entry-contents dl {
	margin-bottom: 15px;
}

#container #main-contents .posts .entry-contents dl dt {
	font-weight: bold;
}

#container #main-contents .posts .entry-contents dl dd {
	margin-left: 10px;
}

#container #main-contents .posts .entry-contents pre {
	display: block;
	font-size: 85%;
	background-color: #f5f5f5;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
	margin: 0 0 10px 0;
	padding: 5px 10px;
	white-space: pre-wrap;
}

#container #main-contents .posts .entry-contents code {
	color: #e60039;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 2px 3px;
}

#container #main-contents .posts .entry-contents table {
	font-size: 85%;
	border-collapse: collapse;
	border-spacing: 0;
	max-width: 100%;
}

#container #main-contents .posts .entry-contents .table {
	width: 100%;
	background-color: #f5f5f5;
	border-collapse: separate;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
}

#container #main-contents .posts .entry-contents .table th,
#container #main-contents .posts .entry-contents .table td {
	padding: 4px 5px;
}

#container #main-contents .posts .entry-contents .table th {
	color: #1e2e53;
	font-weight: bold;
	vertical-align: bottom;
}

#container #main-contents .posts .entry-contents .table th,
#container #main-contents .posts .entry-contents .table td {
	text-align: left;
	border-top: 1px solid #ccc;
	padding: 5px;
}

#container #main-contents .posts .entry-contents .table th,
#container #main-contents .posts .entry-contents .table td {
	padding: 5px 5px;
}

#container #main-contents .posts .entry-contents .table td {
	vertical-align: top;
}

#container #main-contents .posts .entry-contents .table th + th,
#container #main-contents .posts .entry-contents .table td + td,
#container #main-contents .posts .entry-contents .table th + td,
#container #main-contents .posts .entry-contents .table td + th {
	border-left: 1px solid #ccc;
}

#container #main-contents .posts .entry-contents .table thead:first-child tr:first-child th:first-child,
#container #main-contents .posts .entry-contents .table tbody:first-child tr:first-child th:first-child,
#container #main-contents .posts .entry-contents .table tbody:first-child tr:first-child td:first-child {
	-moz-border-radius: 5px 0 0 0;
	-khtml-border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
}

#container #main-contents .posts .entry-contents .table thead:first-child tr:first-child th:last-child,
#container #main-contents .posts .entry-contents .table tbody:first-child tr:first-child td:last-child {
	-moz-border-radius: 0 5px 0 0;
	-khtml-border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

#container #main-contents .posts .entry-contents .table thead:last-child tr:last-child th:last-child,
#container #main-contents .posts .entry-contents .table tbody:last-child tr:last-child td:last-child {
	-moz-border-radius: 0 0 5px 0;
	-khtml-border-radius: 0 0 5px 0;
	-webkit-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
}

#container #main-contents .posts .entry-contents .table thead:last-child tr:last-child th:first-child,
#container #main-contents .posts .entry-contents .table tbody:last-child tr:last-child th:first-child,
#container #main-contents .posts .entry-contents .table tbody:last-child tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 5px;
	-khtml-border-radius: 0 0 0 5px;
	-webkit-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
}

#container #main-contents .posts .entry-contents .table thead:first-child tr th,
#container #main-contents .posts .entry-contents .table thead:first-child tr td,
#container #main-contents .posts .entry-contents .table thead:first-child tr:first-child th,
#container #main-contents .posts .entry-contents .table tbody:first-child tr:first-child th,
#container #main-contents .posts .entry-contents .table tbody:first-child tr:first-child td {
	border-top: 0 none;
}

#container #main-contents .posts .entry-contents .table tbody tr:nth-child(2n+1) td,
#container #main-contents .posts .entry-contents .table tbody tr:nth-child(2n+1) th {
/*	background-color: #F9F9F9;*/
}

#container #main-contents .alert {
	color: #663300;
	background-color: #FFFFE0;
	border: 1px solid #E6DB55;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 10px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

#container #main-contents .alert-error {
	color: #B94A48;
	background-color: #FFEBE8;
	border-color: #CC0000;
}

#container #main-contents .alert .close {
	color: #000000;
	float: right;
	font-size: 20px;
	font-weight: bold;
	line-height: 18px;
	opacity: 0.2;
	text-shadow: 0 1px 0 #FFFFFF;
}

#container #main-contents .alert .close:hover {
	color: #000000;
	cursor: pointer;
	opacity: 0.4;
	text-decoration: none !important;
}

#container #main-contents .form-horizontal {
	margin: 0;
	padding: 20px 0;
}

.form-horizontal .control-group:after {
	clear: both;
}

.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
	content: "";
	display: table;
}

.form-horizontal .control-group {
	padding: 10px 0 10px 0;
}

.form-horizontal .control-label {
	display: block;
	float: left;
	width: 140px;
	color: #333;
	margin-bottom: 5px;
	padding-top: 5px;
/*	text-align: right;*/
}

.form-horizontal .controls {
	float: left;
	padding-left: 20px;
}

.form-horizontal .controls p {
	padding: 0 0 0 0 !important;
}

.form-horizontal .control-group,
.form-horizontal .control-label {
	_zoom: 1;
	overflow: hidden;
}

.form-horizontal .controls input,
.form-horizontal .controls textarea {
	display: inline-block;
	width: 210px;
	color: #333;
	font-size: 12px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 5px 5px 3px 5px;
}

.form-horizontal .controls input,
.form-horizontal .controls select {
	-moz-border-radius: 30px;
	-khtml-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

.form-horizontal .controls textarea {
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.form-horizontal ::-webkit-input-placeholder {
	color: #ccc !important;
}

.form-horizontal :-moz-placeholder {
	color: #ccc !important;
}

.form-horizontal .controls select {
	display: inline-block;
	width: 210px;
	color: #333;
	font-size: 12px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 5px 10px;
}

.form-horizontal .controls input[type="image"],
.form-horizontal .controls input[type="checkbox"],
.form-horizontal .controls input[type="radio"] {
	width: auto;
	height: auto;
	border: 0 none !important;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	cursor: pointer;
	line-height: normal;
	margin: 3px 0;
	padding: 0;
}

.form-horizontal .controls input[type="file"] {
	background-color: #FFFFFF;
	box-shadow: none;
}

.form-horizontal .controls input[type="button"],
.form-horizontal .controls input[type="reset"],
.form-horizontal .controls input[type="submit"] {
	width: auto;
	height: auto;
}

.form-horizontal .controls select,
.form-horizontal .controls input[type="file"] {
	height: 28px;
	line-height: 28px;
}

.form-horizontal .controls select {
	width: 220px;
	background-color: #FFFFFF;
}

.form-horizontal .controls select[multiple],
.form-horizontal .controls select[size] {
	height: auto;
}

.form-horizontal .controls input[type="image"] {
	box-shadow: none;
}

.form-horizontal .controls textarea {
	height: auto;
}

.form-horizontal .controls input[type="hidden"] {
	display: none;
}

.form-horizontal .controls .radio,
.form-horizontal .controls .checkbox {
	clear: left;
	display: block;
	line-height: 100%;
	margin: 0;
	padding: 0 0 5px 5px !important;
}

.form-horizontal .radio input,
.form-horizontal .checkbox input {
	width: auto;
	border: none;
}

.form-horizontal .radio input[type="radio"],
.form-horizontal .checkbox input[type="checkbox"] {
	margin-right: 5px;
}

.form-horizontal .controls > .radio:first-child,
.form-horizontal .controls > .checkbox:first-child {
	padding-top: 5px;
}

.form-horizontal .controls .radio.inline,
.form-horizontal .controls .checkbox.inline {
	display: inline-block;
	margin-bottom: 0;
	vertical-align: middle;
}

.form-horizontal .radio.inline + .radio.inline,
.form-horizontal .checkbox.inline + .checkbox.inline {
	margin-left: 10px;
}

.form-horizontal .controls > .radio.inline:first-child,
.form-horizontal .controls > .checkbox.inline:first-child {
	padding-top: 0;
}

.form-horizontal .controls input,
.form-horizontal .controls textarea {
/*	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;*/
	-moz-transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
	box-shadow: 0 1px 1px rgba(0,0,0,0.5) inset;

}

.form-horizontal .controls input:focus,
.form-horizontal .controls textarea:focus {
	border-color: rgba(82, 168, 236, 0.8);
/*	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);*/
	box-shadow: 0 1px 1px rgba(0,0,0,0.075) inset, 0 0 8px rgba(39,62,102,0.5);
	outline: 0 none;
}

.form-horizontal .controls input[type="file"]:focus,
.form-horizontal .controls input[type="checkbox"]:focus,
.form-horizontal .controls select:focus {
	box-shadow: none;
	outline: thin dotted;
	outline-offset: -2px;
}

.form-horizontal .input-mini	{ width: 60px !important;}
.form-horizontal .input-small	{ width: 90px !important; }
.form-horizontal .input-medium	{ width: 150px !important; }
.form-horizontal .input-large	{ width: 210px !important; }
.form-horizontal .input-xlarge	{ width: 270px !important; }
.form-horizontal .input-xxlarge	{ width: 530px !important; }

.button {
	display: inline-block;
	text-decoration: none;
	color: #333;
	font-size: 12px;
	font-family: MuseoSlab-500, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Sans-Serif !important;
	*font-family: MuseoSlab-500, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Sans-Serif !important;
	_font-family: Tahoma, "ＭＳ Ｐゴシック", Sans-Serif !important;
	_font-weight: bold;
	text-align: center;
/*	text-shadow: 0 1px 0 rgba(255,255,255,1), 0 -1px 0 rgba(0,0,0,0.5);*/
/*	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);*/
	line-height: 100%;
	background: #f5f5f5;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f5f5f5) );
	background: -moz-linear-gradient(-90deg, #ffffff, #f5f5f5);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ffffff', endColorstr='#f5f5f5');
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-moz-border-radius: 30px;
	-khtml-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	-moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
	-khtml-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.4);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0px 0px 2px 0px rgba(0,0,0,0.4);
	margin: 10px 5px;
	padding: 7px 15px 5px 15px;
	*padding: 5px 10px;
	vertical-align: middle;
	cursor: pointer;
}

.button:hover {
	background: #f5f5f5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ffffff) );
	background: -moz-linear-gradient(-90deg, #f5f5f5, #ffffff);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f5f5f5', endColorstr='#ffffff');
}

.button:active {
	position: relative;
	top: 1px;
	left: 0;
	background: #f5f5f5;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
}

.button:focus {
	outline: thin dotted #333333;
	outline-offset: -2px;
}

.button-yapc {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	background: #273e66;
	background: -webkit-gradient(linear, left top, left bottom, from(#3f5986), to(#273e66) );
	background: -moz-linear-gradient(-90deg, #3f5986, #273e66);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#3f5986', endColorstr='#273e66');
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button-yapc:hover {
	background: #405c8d;
	background: -webkit-gradient(linear, left top, left bottom, from(#273e66), to(#3f5986) );
	background: -moz-linear-gradient(-90deg, #273e66, #3f5986);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#273e66', endColorstr='#3f5986');
}

.button-yapc:active {
	background: #405c8d;
}

.button-primary {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	background: #0074CC;
	background: -webkit-gradient(linear, left top, left bottom, from(#0088CC), to(#0055CC) );
	background: -moz-linear-gradient(-90deg, #0088CC, #0055CC);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0088CC', endColorstr='#0055CC');
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button-primary:hover {
	background: #0055CC;
	background: -webkit-gradient(linear, left top, left bottom, from(#0055CC), to(#0088CC) );
	background: -moz-linear-gradient(-90deg, #0055CC, #0088CC);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0055CC', endColorstr='#0088CC');
}

.button-primary:active {
	background: #0055CC;
}

.button-info {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	background: #49AFCD;
	background: -webkit-gradient(linear, left top, left bottom, from(#5BC0DE), to(#2F96B4) );
	background: -moz-linear-gradient(-90deg, #5BC0DE, #2F96B4);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#5BC0DE', endColorstr='#2F96B4');
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button-info:hover {
	background: #2F96B4;
	background: -webkit-gradient(linear, left top, left bottom, from(#2F96B4), to(#5BC0DE) );
	background: -moz-linear-gradient(-90deg, #2F96B4, #5BC0DE);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#2F96B4', endColorstr='#5BC0DE');
}

.button-info:active {
	background: #2F96B4;
}

.button-success {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	background: #5BB75B;
	background: -webkit-gradient(linear, left top, left bottom, from(#62C462), to(#51A351) );
	background: -moz-linear-gradient(-90deg, #62C462, #51A351);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#62C462', endColorstr='#51A351');
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button-success:hover {
	background: #51A351;
	background: -webkit-gradient(linear, left top, left bottom, from(#51A351), to(#62C462) );
	background: -moz-linear-gradient(-90deg, #51A351, #62C462);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#51A351', endColorstr='#62C462');
}

.button-success:active {
	background: #51A351;
}

.button-warning {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	background: #FAA732;
	background: -webkit-gradient(linear, left top, left bottom, from(#FBB450), to(#F89406) );
	background: -moz-linear-gradient(-90deg, #FBB450, #F89406);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#FBB450', endColorstr='#F89406');
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button-warning:hover {
	background: #F89406;
	background: -webkit-gradient(linear, left top, left bottom, from(#F89406), to(#FBB450) );
	background: -moz-linear-gradient(-90deg, #F89406, #FBB450);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#F89406', endColorstr='#FBB450');
}

.button-warning:active {
	background: #F89406;
}

.button-danger {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	background: #DA4F49;
	background: -webkit-gradient(linear, left top, left bottom, from(#EE5F5B), to(#BD362F) );
	background: -moz-linear-gradient(-90deg, #EE5F5B, #BD362F);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#EE5F5B', endColorstr='#BD362F');
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button-danger:hover {
	background: #BD362F;
	background: -webkit-gradient(linear, left top, left bottom, from(#BD362F), to(#EE5F5B) );
	background: -moz-linear-gradient(-90deg, #BD362F, #EE5F5B);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#BD362F', endColorstr='#EE5F5B');
}

.button-danger:active {
	background: #BD362F;
}

.button-inverse {
	color: #fff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	background: #414141;
	background: -webkit-gradient(linear, left top, left bottom, from(#555555), to(#222222) );
	background: -moz-linear-gradient(-90deg, #555555, #222222);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#555555', endColorstr='#222222');
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.button-inverse:hover {
	background: #BD362F;
	background: -webkit-gradient(linear, left top, left bottom, from(#222222), to(#555555) );
	background: -moz-linear-gradient(-90deg, #222222, #555555);
	filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#222222', endColorstr='#555555');
}

.button-inverse:active {
	background: #BD362F;
}

a.button {
	color: #333 !important;
	text-decoration: none !important;
}

a.button-yapc,
a.button-primary,
a.button-info,
a.button-success,
a.button-warning,
a.button-danger,
a.button-inverse {
	color: #fff !important;
	text-decoration: none !important;
}

.button-large {
	font-size: 16px !important;
	padding: 10px 20px;
	*padding: 10px 15px;
}

.button-small {
	font-size: 12px !important;
	padding: 2px 10px;
	*padding: 1px 0px;
}

.button-mini {
	font-size: 10px !important;
	padding: 2px 10px;
	*padding: 1px 0px;
}


/*----------------------------------------------------------
  - Sidebar
----------------------------------------------------------*/

#container #sidebar .section {
	font-size: 80%;
	padding: 0 0 10px 0;
}

#container #sidebar .section h3 {
	color: #1e2e53;
	font-size: 120%;
	background: url(../images/side_h3_base.gif) no-repeat 0 bottom;
	padding: 3px 0 10px 0;
	margin-bottom: 15px;
}

#container #sidebar .section h4 {
	font-size: 100%;
	font-weight: bold;
	text-align: center;
	background-color: #f9f9f9;
	-moz-border-radius: 15px;
	-khtml-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;

	border: 1px solid #eee;
	padding: 3px;
	margin-bottom: 10px;
}

#container #sidebar .section p {
	padding: 0 10px 10px 10px;
	line-height: 140%;
}

#container #sidebar .section em {
	color: #1e2e53;
	font-weight: bold;
}

#container #sidebar .section ul {
	margin: 0 0 15px 0;
	padding: 0;
}

#container #sidebar .section ul li {
	list-style: disc outside;
	margin: 0 0 5px 20px;
	padding: 0;
}

#container #sidebar .section ul.unstyled li {
	list-style: none outside !important;
	margin: 0 0 5px 0;
}


/* - Sidebar / Sponsors
==========================================================*/

#sponsors ul li {
	text-align: center;
}

#sponsors ul li a:hover {
	filter:alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

#sponsors li img {
	width: 120px;
}


/*----------------------------------------------------------
  - Footer
----------------------------------------------------------*/

#footer {
	position: relative;
	clear: both;
	width: 950px;
	height: 120px;
	background: url(../images/footer_base.gif) no-repeat 0 center;
	margin: 0 auto;
	padding: 15px 0;
}

#footer .innerblock {
	position: absolute;
	top: 70px;
	right: 10px;
	font-size: 70%;
	text-align: right;
	line-height: 130%;
}


/*----------------------------------------------------------
  - Home
----------------------------------------------------------*/

#home {}

#home #date #mapTab {
	margin: 0;
	padding: 0;
}

#home #date .tab {
	font-size: 85%;
	margin: 0 0 20px 0;
	padding: 0;
}

#home #date .tab li {
	padding: 0 0 5px 0;
}

#home #date .tab #tab2,
#home #date .tab #tab3,
#home #date .tab #tab4,
#home #date .tab #tab5 {
	font-size: 85%;
	margin: 0 0 0 15px;
}

#home #date .date {
	color: #1E2E53;
	font-weight: bold;
	margin: 0 0 10px 20px;
	padding: 0;
}

#home #date .date li {
	list-style: disc outside !important;
	padding: 0 0 5px 0;
}

#home .speakers .speaker {
	width: 570px;
	padding-bottom: 25px;
}

#home .speakers .speaker dt {
	float: left;
	width: 100px;
}

#home .speakers .speaker dd {
	float: left;
	width: 460px;
	padding: 0 0 0 10px;
}

#home .speakers .speaker,
#home .speakers .speaker dt,
#home .speakers .speaker dd {
	_zoom: 1;
	overflow: hidden;
}

#home .speakers .speaker dt img {
	display: block;
	width: 100px;
	height: 100px;
	-moz-border-radius: 10px;
	-khtml-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#home .speakers .speaker dd h5 {
	color: #e60039;
}








